<div id="z_inp">
  <span id="z_title">{{ getPlantName() }}</span><br/>
  <label for="zone" class="lbl">Choose Zone</label><br/>
  <select #zone id="zone" class="sel" (change)="onChange(zone.value)">
    <option *ngFor="let i of getZones(); let j = idx" value="{{i.zoneId}}" [selected]="j === getSelected()">
    {{ i.zoneName }}</option>
  </select>
  <div id="vid_info">
    <div class="left">
      <span class="info">CODEC:{{ codec }}</span>
      <span class="info">FORMAT:{{ format }}</span>
    </div>
    <div class="right">
      <span class="info r-text">DURATION: {{ duration }}</span>
      <span class="info r-text">FRAME RATE: {{ frameRate }}</span>
    </div>
  </div>
<!--  <app-cams-group [zn]="selectedZone"></app-cams-group>-->
  <div id="allCams">
    <!--    <div class="camRows" *ngFor="let i of getRows()">-->
    <app-cams *ngFor="let c of getCameraS()" [camSummary] = "c"></app-cams>
    <!--    </div><br/>-->
  </div>
</div>
