#z_inp{
  margin-top: 32px;
}

.lbl{
  height: 18px;
  /*width: 102px;*/
  color: #6A7C92;
  font-family: Antenna-Medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

#zone{
  box-sizing: border-box;
  height: 44px;
  width: 403px;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  background-color: #FFFFFF;
}

#z_title{
  height: 24px;
  width: 523px;
  color: #003379;
  /*font-family: Antenna;*/
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.sel{
  padding-left: 24px;
  height: 17px;
  width: 291px;
  color: #6879A4;
  font-family: Antenna-Regular;
  font-size: 14px;
  line-height: 17px;
}
#vid_info{
  margin-top: 16px;
  width:90vw;
}

.info{
  margin-bottom: 10px;
  height: 14px;
  /*width: 95px;*/
  display: block;
  color: #003379;
  font-family: "Antenna-Medium";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.93px;
  line-height: 14px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.r-text{
  text-align: right;
}

