#allCams{
  margin-top:70px;
  margin-bottom: 30px;
  min-height: 10vh;
  min-width: 100%;
}

.camRows{
  display: inline-flex;
  /*margin-top:10px;*/
  margin-bottom: 30px;
  /*display: table-row;*/
}
