@font-face {
  font-family: "Antenna-Bold";
  src: url("./antenna/Antenna-Bold.otf");
}

@font-face {
  font-family: "Antenna-Light";
  src: url("./antenna/Antenna-Light.otf");
}

@font-face {
  font-family: "Antenna-Medium";
  src: url("./antenna/Antenna-Medium.otf");
}

@font-face {
  font-family: "Antenna-Regular";
  src: url("./antenna/Antenna-Regular.otf");
}
