
<!--<div class="container">-->

<!--  <nav>-->
<!--    &lt;!&ndash;Left Bar &ndash;&gt;-->

<!--  </nav>-->




<!--  <aside>-->
<!--    &lt;!&ndash; right side bar&ndash;&gt;-->
<!--  </aside>-->


<!--</div>-->




<div>
<section class="matthew-henry-f-px-oowb-r-6-ls">

  left page

</section>

<section class="rectangle-copy ">
<div>

  <img src="../../../assets/SVG/Logo 1x.png" height="28" width="339" class="group-copy"/>
</div>

  <p class="sign-in-to-your-acco-copy"> SIGN TO YOUR ACCOUNT</p>

    <input class="group-2-copy" matInput placeholder="Username" [(ngModel)]="username" name="username" required>

  <input  class="group-2-copy"  matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
  <!--  <input class="group-2-copy" type= "text" id="userName" name="userName">-->

<!--  <input class="group-2-copy" type= "text" id="password" name="password">-->
  <input class="group-5" type="checkbox" id="keepSignIn" checked="checked" name="keepSignedIn" value="">
  <label class="keep-me-signed-in">
  Keep me signedIn
  </label>
  <hr>
<div class="sign-in-copy">
  <button class="button-background-copy" id="SIGNIN" (click)="signIn()">SIGN IN</button>
</div>
</section>
  </div>
