.matthew-henry-f-px-oowb-r-6-ls {
  height: 1024px;
 /*width: 960px;*/

  width: 70%;
  float: left;
}

.group-6 {
  height: 1024px;
  width: 480px;

}

.matthew-henry-f-px-oowb-r-6-ls {
  height: 1070px;
  width: 1605px;
}

.rectangle-copy {
  height: 1024px;
  width: 480px;
  background-color: #000000;
  float: right;
/*margin-top: 10px*/

}


.group-copy {
  height: 28px;
  width: 346px;
  margin-top: 286px;

}

.sign-in-to-your-acco-copy {
  height: 22px;
  width: 302px;
  color: #FFFFFF;
  font-family: Antenna;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 22px;
  margin-top: 75px;
  margin-left: 89px;
  margin-right: 89px;
  padding-left: 15px;
  padding-right: 16px;
}
.group-2-copy {
  height: 56px;
  width: 333px;
  margin-right: 74px;
  margin-left: 74px;
  padding-right: 93px;
  padding-left: 22px;


}

.group-4-copy {
  height: 17px;
  width: 120px;
  margin-left: 74px;

}
.keep-me-signed-in {
  height: 17px;
  width: 119px;
  color: #FFFFFF;
  font-family: Antenna;
  /*font-size: 13.13px;*/
  /*line-height: 17px;*/
  /*margin-left: 100px;*/
  margin-right: 260px;
}

.checkmark {
  height: 9.42px;
  width: 9.42px;
  background-color: #FFFFFF;
}
.checkmark {
  height: 9.42px;
  width: 9.42px;
  background-color: #FFFFFF;
}
.group-5 {
  height: 15px;
  width: 15px;
  margin-left: 76px;
  /*margin-right: 394px;*/
}
.sign-in-copy {
  height: 16px;
  width: 67px;
  color: #FFFFFF;
  font-family: Antenna;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 19px;
  text-align: justify;
  margin-left: 74px;
}
.button-background-copy {
  height: 53.83px;
  width: 332.2px;
  border-radius: 2.2px;
  background-color: #00327D;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,0.3);
}
