.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.chennai-sholingana {
  height: 14px;
  width: 190px;
  color: #003379;
  font-family: Antenna;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin-top: 30px;

}

.historical-threat {
  height: 24px;
  /*width: 180px;*/
  color: #003379;
  font-family: Antenna;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.rectangle {
  box-sizing: border-box;
  height: 200.2px;
  width: 300.2px;
  border: 0.2px dashed #395A72;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 18px 40px -12px rgba(0, 0, 0, 0.25);

}
.right{
  float: right;
}

.group-5 {
  /*height: 44px;*/
  height: 59px;
  width: 417px;
}

.group-3 {
  height: 24px;
  width: 82px;
  /*margin-right: 3px;*/
}

.zone-1 {
  height: 12px;
  width: 39px;
  color: #003379;
  font-family: Antenna;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  /*border: 1px dashed #395A72;*/

}


.rectangle2 {
  box-sizing: border-box;
  height: 24.7px;
  width: 82.7px;
  border: 0.7px solid #00317B;
  opacity: 0.17;
}

.location {
  height: 12px;
  width: 53px;
  color: #6A7C92;
  font-family: Antenna;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  margin-left: 15px
;
}

.fivith-floor {
  height: 14px;
  width: 61px;
  color: #003379;
  font-family: Antenna;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: justify;
  margin-left: 15px;
}

.confidence {
  height: 12px;
  width: 69px;
  color: #6A7C92;
  font-family: Antenna;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  margin-left: 15px;
}

.conf-99-80203247070312 {
  height: 14px;
  width: 151px;
  color: #EA1F22;
  font-family: Antenna;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: justify;
  margin-left: 15px;
}

.date {
  height: 12px;
  width: 29px;
  color: #6A7C92;
  font-family: Antenna;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  margin-left: 15px;
}

.dateValue-12-02-2020 {
  height: 14px;
  width: 87px;
  color: #003379;
  font-family: Antenna;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: justify;
  margin-left: 15px;
}


.timing {
  height: 12px;
  width: 42px;
  color: #6A7C92;
  font-family: Antenna;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  margin-left: 40px;
}

.timingValue-10-34-14-pm {
  height: 14px;
  width: 84px;
  color: #003379;
  font-family: Antenna;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: justify;
  margin-left: 40px;
}

.rectangleButton {
  height: 40px;
  width: 150px;
  border-radius: 16px;
  background-color: #003379;
  box-shadow: 0 18px 40px -12px rgba(0, 0, 0, 0.2);
}

.centerViewALl {
  float: inside;
  float-displace: 400px;
}

.view-all {
  margin-top: 6px;
  height: 25px;
  width: 80px;
  color: #FFFFFF;
  font-family: Antenna;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: justify;
  align-content: center;
}

.group-5 {
  height: 44px;
  width: 417px;
}

.rectangleCal {
  box-sizing: border-box;
  height: 44px;
  width: 417px;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.filters {
  height: 17px;
  width: 87px;
  color: #6879A4;
  font-family: Antenna;
  font-size: 14px;
  line-height: 17px;

}

.buttonFilter {
  box-sizing: border-box;
  height: 50px;
  width: 90px;
  border: 1px solid #E9E9E9;
  color: #DEE5FE;
  border-radius: 3px;
  background-color:#00317B;
  margin-left: 5px;
}
