<div>
  <p class="historical-threat">
    Historical Threat </p>

  <!--  <div class="rectangleCal">-->
  <!--    <input matInput [matDatepicker]="picker" class="filters">-->
  <!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--    <mat-datepicker #picker></mat-datepicker>-->
  <!--    <hr>-->
  <!--  </div>-->


  <div class="left">
    <mat-form-field class="rectangleDate">
      <input matInput readonly [matDatepicker]="picker" placeholder="Start Date" formControlName="DateForSearch"
             (dateChange)="filiterByDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


  </div>
  <!---->
  <section fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="500px" *ngFor=" let threatsList  of historicalThreatsList" style="display:inline-block;">
      <div class="rectangle" style="display: inline-block">
        <!--        <mat-card-title>-->
        <div style="display: inline-block">
          <span class="chennai-sholingana">
            {{threatsList.plantName}}</span>
        </div>
        <div class="right" style="display: inline-block">
          <span class="zone-1  right"> {{threatsList.zone}} </span>
        </div>
        <!--        </mat-card-title>-->
        <!--        <mat-card-content>-->
        <div style="display: block">
          <span class="location"> Location </span>
          <br>
          <span class="fivith-floor"> {{threatsList.location}} </span>
        </div>
        <div style="display: block">
          <span class="confidence"> Confidence </span>
          <br>
          <span class="conf-99-80203247070312"> {{threatsList.confidence}} </span>
        </div>

        <div style="display: inline-block">
          <span class="date"> Date </span>
          <br>
          <span class="dateValue-12-02-2020"> {{threatsList.eventDate}} </span>
        </div>

        <div style="display: inline-block">
          <span class="timing"> Timing </span>
          <br>
          <span class="timingValue-10-34-14-pm"> {{threatsList.timing}} </span>
        </div>

        <!--        </mat-card-content>-->
        <mat-card-actions>
          <!--      <button type="submit" mat-button> ViewAll</button>-->
        </mat-card-actions>
      </div>
    </mat-card>
    <br>
    <div>
      <button class="buttonFilter" (click)="ViewAll()">ViewAll</button>
    </div>

  </section>
</div>
