 <div id="app">
  <div id="header">
    <img src="../../../assets/SVG/Logo 2x.png" id="logo"/>

    <div class="header-nav-container">
      <span id="txt-operational">
        <img src="../assets/PNG/Operational@2x.png" id="icon-operational"/>OPERATIONAL
      </span>
      <span id="profile-button">
        <nz-avatar nzSize="large" nzIcon="user"></nz-avatar> JOHN DOE
      </span>
    </div>
  </div>
<!--   <div id="sidebar-bk"></div>-->
  <div id="side-n-content">
    <div id="sidebar">
      <app-sidebuttons></app-sidebuttons>
    </div>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
 </div>
