<!--<app-log-in></app-log-in>-->

<div>
  <div id="header">
    <img src="../../../assets/SVG/Logo 2x.png" id="logo"/>

    <div class="header-nav-container">
      <span>
        <img src="../assets/PNG/Operational@2x.png" id="icon-operational"/> OPERATIONAL
      </span>
      <span id="profile-button">
        <nz-avatar nzSize="large" nzIcon="user"></nz-avatar> JOHN DOE
      </span>
    </div>
  </div>
  <div id="side-n-content">
    <div nzWidth="61" id="sidebar">
      <app-sidebuttons></app-sidebuttons>
    </div>

    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!--  <nz-footer></nz-footer>-->
</div>
