* {
  font-family: Antenna-Regular;
}

#header {
  /*height: 70px;*/
  width:100%;
  border-radius: 2px;
  /*background-color: #00FFFF;*/
  background-color: #FFFFFF;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,0.25);
  vertical-align: center;
  min-height: 70px;
}
#side-n-content{
  display: inline-flex;
  width:100%;
}
#sidebar {
  /*height: 998px;*/
  /*height:998px;*/
  /*margin-top:70px;*/
  width: 61px;
  display: inline-block;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,0.25);
}

#content{
  display:inline-block;
  width:90%;
  margin-left: 5px;
}

#logo{
  height: 30px;
  display: inline-flex;
  /*float: left;*/
  margin-left: 50px;
  margin-top: 20px;

}
#icon-operational {
  height: 40px;
  width: 40px;
  algin:left;
}
/*************USING FLEX**********/
.header-nav-container {
  float: right;
  display: inline-flex;
  text-align: right;
  margin-top: 20px;
  /*flex-direction: row-reverse;*/
}
#profile-button {
  cursor: pointer;
  margin-left: 20px;
  padding-right: 10px;
  align:left;
}
