.card{
  box-sizing: border-box;
  /*height: 154.2px;*/
  /*width: 311.2px;*/
  height: 135px;
  width: 275px;
  border: 0.5px dashed #395A72;
  /*border: 0.2px dashed #395A72;*/
  border-radius: 5px;
  /*background-color: #FFFFFF;*/
  box-shadow: 0 18px 40px -12px rgba(0,0,0,0.25);
  position:absolute;
  /*left:10px;*/
}
.title{
  /*height: 12px;*/
  margin-left: 16px;
  margin-top: 5px;
  /*width: 198px;*/
  width: 175px;
  color: #003379;
  font-family: Antenna-Regular;
  font-size: 12px;
  letter-spacing: 0.93px;
  line-height: 14px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  border: none;
}

.mask {
  /*height: 25px;*/
  /*display: inline-block;*/
  background-color: #003379;
  height: 25px;
  /*width: 228px;*/
  width: 200px;
  opacity: 0.07;
  border-radius: 5px 5px 0 0;
  position:absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.main{
  margin-top: 25px;
  display: inline-flex;
}

.icon{
  margin-left:15px;
  margin-top: 0px;
}

.info span{
  display: block;
  margin-left:10px;
}

.zone-cam{
  height: 12px;
  /*width: 119px;*/
  color: #899BB0;
  font-family: Antenna-Regular;
  font-size: 12px;
  letter-spacing: 0.93px;
  line-height: 14px;
}

.threatCnt {
  height: 24px;
  /*width: 38px;*/
  color: #003379;
  font-family: Antenna-Bold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.86px;
  line-height: 29px;
  padding-top: 10px ;
}

.msg{
/*group-7-copy {*/
  height: 12px;
  /*width: 111px;*/
  padding-top: 15px;
}
