<div id ="main-content">
  <div id = "left-section">
      <a id="btn-back" routerLink="/plants">
        <img src="../../../../assets/PNG/arrow-left@2x.png" class="arrow-left"/>BACK
      </a>
      <h1>{{cameraName}}</h1>
      <p>[ANALYSING...]</p>

      <div class="row camera-media-info">
        <div class="col-7 camera-media-info-paragraph">
          <p> CODEC: {{codec}}</p>
          <p> FORMAT: {{format}}</p>
        </div>
        <div class="col-5 camera-media-info-paragraph right-aligned">
          <p>DURATION: {{duration}}</p>
          <p>FRAME RATE: {{frameRate}}</p>
        </div>
      </div>
    <div id="events-section">
      <div id="camera-events-scrollable">
        <div id="events-flex-container">
          <app-camera-event *ngFor="let i of getInstances()" [inst] = i></app-camera-event>
        </div>
      </div>
    </div>
  </div>
  <div id="sider-threat">
      <h1 class="sider-header">THREAT DETECTED</h1>

      <div id="threat-scrollview">
        <app-threat *ngFor="let th of getThreats()" [threat] = th></app-threat>
      </div>
    </div>
</div>
<!--
<div class="page-main">
  <div class="page-side">
    Sidebar
  </div>
  <div class="page-content">
    Content
  </div>
</div>-->
