#z_inp{
  margin-top: 32px;
}

.lbl{
  height: 18px;
  width: 102px;
  color: #6A7C92;
  font-family: Antenna;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

#zone{
  box-sizing: border-box;
  height: 44px;
  width: 403px;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  background-color: #FFFFFF;
}

#z_title{
  height: 24px;
  width: 523px;
  color: #003379;
  font-family: Antenna;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}
